body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    font-family: Overpass-Regular, sans-serif;
    background-color: $very-dark-blue;
}